<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
<link
  rel="stylesheet"
  href="https://unpkg.com/tippy.js@6/animations/scale.css"
/>
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<div class="wrapper">
	<div class="container">
		<br>
		<div class="float-right">

			<form class="hide" id="fileForm" action="/uploadfile" method="post" enctype="multipart/form-data">
				<input type="file" id='inputUploadPic' name="photo" />
				<input type="text" id="filename" name='fileName'>
				<input type="submit" id="submitFileForm">
			</form>

		</div>
		

		<div class="modal fade" id="newfolder-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">		
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<label for="folderName" ></label>
						<b>Enter the Name of The Folder (Avoid Spaces)</b>
						<input class="mt-4 inputModal"style="padding: 5px;" type="textarea" name="folderName" id='folderCreateName' placeholder="Name...">
					</div>
					<div class="modal-footer">
						<div id="err507" style="display: none;color: red;">Folder Could Not be Created</div>
						<div id="errExist" style="display: none;color: red;">Folder Already Exists</div>
						<button id="btnCreate" type="button" class="btn btn-success btn-sm">Create</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<label ></label>
						<b>Enter the mail id from the person you want to import</b>
						<input class="mt-4 inputModal" style="padding: 5px;" type="email" name="folderName" required id='inputImportFrom' placeholder="Email...">
					</div>
					<div class="modal-footer">
						<div id="errImportUser" style="display: none;color: red;"><b>User Does not Exists</b></div>
						<div id="errEmailValidation" style="display: none;color: red;"><b>Email not valid</b></div>
						<button id="btnSendImportRequest" type="button" class="btn btn-warning btn-sm">Send Request</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true"">
			<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<b>Are you sure you want to delete this folder</b>
					</div>
					<div class="modal-footer my-modal-footer">
						<button style="width: 50px;" class="btn btn-success btn-sm" onclick="confirmedDelete()" type="button">Yes</button>
						<button style="width: 50px;" class="btn btn-danger btn-sm" data-dismiss="modal" type="button">No</button>
						<div id="err007" style="display: none;color: red;"><b>Error</b></div>
					</div>
				</div>
			</div>
		</div>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li id="breadcrumbHome" class="breadcrumb-item"	aria-current="home">Home</li>
			</ol>
		</nav>

		<!-- <% if(requests.length > 0){ %>
			<% requests.map(request=>{ %> --> 
				<div class="mb-2 text-center" style="background-color: #FFAE5E; margin-top: -2%;padding-bottom: 10px;">
					<h4 style="padding-top: 10px; font-size: 22px; font-family:'Arial Narrow';letter-spacing: 0.8px;">
						<i class="fa fa-exclamation-triangle"></i> 
						You have an incoming import request from <%=request.from%>
						<i class="fa fa-exclamation-triangle"></i>
					</h4>
					<button style="width: 80px;" class="btn btn-success btn-sm">Accept</button>
					<button class="btn btn-danger btn-sm">Deny</button>
				</div>
			<!-- <% }) %>
		<% } %> -->

		<button id='importbtnModal' type="button" class="btn btn-primary btn-sm addfolder ml-3" data-toggle="modal" data-target="#import-modal">
			<i class="fa fa-exchange mr-2"></i>Import
		</button>

		<button id='btnModal' type="button" class="btn btn-primary btn-sm addfolder" data-toggle="modal" data-target="#newfolder-modal">
			<i class="fa fa-plus-circle mr-2"></i>Add New Folder
		</button>

		<div id="folder-container" class="container">
			<% if(data!= null){ %>
				<% data.map( folder => { %>
					<div id='<%=folder.folderName%>' class="folder mt-5 ml-5" style="text-align: center;" >
						<span onclick="getFolderContents(event)">
							<i class="fa fa-folder fa-5x" style="color: inherit;"></i>
						</span><br>
						<span class="folderName"><%= folder.folderName %></span><br>
						<i onclick="renameFolder(event)" folder='<%=folder.folderName%>' class="fa fa-pencil moreOptionsRename"></i>
						<i onclick="deleteFolder(event)" folder="<%=folder.folderName%>" class="fa fa-trash moreOptionsDelete ml-2"></i>
					</div>
				<% }) %>
			<% } %>	
		</div>
	</div>
</div>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

<!-- Production -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script type="text/javascript">

	$('#btnCreate').on('click', createFolder);
	$('.moreOptionsDelete').on('click', function(){
		var folderName = $('#confirm-delete-modal').attr('folder');
		$('#confirm-delete-modal .modal-body').html(`<b>Are you sure you want to delete this folder - ${folderName}</b>`);
		$('#confirm-delete-modal').modal('show');
	})

	tippy('.moreOptionsDelete', {
	content: "Delete Folder",
	placement: "right"
	});

	tippy('.moreOptionsRename', {
	content: "Rename Folder",
	placement: "left"
	});

	var foldername = '';
	var userFolder = <%-JSON.stringify(user)%>;

	function createFolder(){
		$('#err507').css('display', 'none');
		$('#errExist').css('display', 'none');
		const folderName = $('#folderCreateName').val();

		$.ajax({
			method: "POST",
			url: "createfolder",
			data: {folderName: folderName},
			statusCode: {
				507: function(){
					$('#err507').css('display', 'block');
				},
				300: function(){
					$('#errExist').css('display', 'block');
				}
			}
		})
		.done(function(){
			// var div = $(`<div></div>`).addClass('folder').click(getFolderContents).text(folderName);
			// $('#folder-container').append(div);
			location.reload();
		});
	}

	function renameFolder(event){
		var nameNode =  $(event.target.parentNode.children[2]);
		var oldFolderName = nameNode.text();

		nameNode.attr('contentEditable', 'true');
		nameNode.focus();
		
		$(document).on('click', function(){
			nameNode.focus();
		});

		var times = 0;   //  to stop multiple ajax calls on keydown,   keyup does not support e.preventDefaults()
		nameNode.on('keydown', function(e){
			if(e.keyCode == 27){
				nameNode.text(oldFolderName);
				nameNode.attr('contentEditable', 'false');
				// location.reload();
			}
			else if(e.keyCode == 13){
				e.preventDefault();
				nameNode.attr('contentEditable', 'false');
				times++;
				if(times==1){
					if(oldFolderName != nameNode.text()){
						$.ajax({
							method: 'POST',
							url: 'renamefolder',
							data: {
								oldFolderName: oldFolderName,
								newFolderName: nameNode.text()
							},
							statusCode: {
								500: function(){
									alert('failed');
									location.reload();
								},
								200: function(){
									location.reload();
								},
								300: function(){
									alert('Folder Already Exists with this name.');
									location.reload();
								}
							}
						})
					}
				} else {
					return;
				}
			}
		})
		
	}

	function deleteFolder(event){
		var folderName = $(event.target.parentNode.children[2]).text();
		$('#confirm-delete-modal').attr('folder', folderName);
	}

	function confirmedDelete(){
		var folderName = $('#confirm-delete-modal').attr('folder');
		$.ajax({
			method: "DELETE",
			url: 'deletefolder',
			data: {
				folderName: folderName
			},
			statusCode: {
				200: function(){
					location.reload();
				}
			}

		})
		
	}

	function getFolderContents (event){

		var folderName = event.currentTarget.parentNode.children[2].innerText;		
		foldername = folderName;
		$.ajax({
			method: "POST",
			url: '/home/' + folderName,
			data: {folderName: folderName}
		})
		.done( function(text){			
			$('#folder-container').empty();
			var folderData = JSON.parse(text);		
			var a = $('<a>').attr({'href': '/home'});
			a.text('Home');
			$('#breadcrumbHome').empty();
			$('#breadcrumbHome').append(a);
			var currentFolder = $('<li>').attr({'class': 'breadcrumb-item'});
			currentFolder.text(foldername);
			$('.breadcrumb').append(currentFolder);

			$('#btnModal').toggleClass('hide');
			$('#fileForm').toggleClass('hide');
			$('#importbtnModal').toggleClass('hide');
			folderData.map(item=>{
				var div = $('<div></div>').addClass('item').click(handleItemClick).text(item.displayName);
				var img = $('<img>').addClass('set image class here');
				img.attr('src', `/uploads/${userFolder}/${foldername}/${item._id}`);
				div.append(img);
				$('#folder-container').append(div);
			})

		});
	}

	$('#fileForm').on('submit', function(e){
		e.preventDefault();
		
		$(this).ajaxSubmit({
			data: {
				foldername: foldername,
			},
			contentType: 'application/json',
      success: function(response){
				var item = (response);
				console.log(item);    
				var div = $('<div></div>').addClass('item').click(handleItemClick).text(item.displayName);
				var img = $('<img>').addClass('set image class here');
				img.attr('src', `/uploads/${userFolder}/${foldername}/${item._id}`);
				div.append(img);
				$('#folder-container').append(div); 
       }
		})

	})

	function handleItemClick(){
		console.log("handleItemClick Triggerred");
	}

	$('#btnModal').on('click', ()=>{
		setTimeout(() => {
			$('#folderCreateName').focus();
		}, 500);
	})

	$('#btnSendImportRequest').on('click', function(){
		$("#errEmailValidation").css('display', 'none');
		var importFrom = $('#inputImportFrom').val();
		
		var data = {
			importFromUser: importFrom
		}
		$.ajax({
			method: "POST",
			url: '/sendimportrequest',
			data: data,
			statusCode: {
				400: function(){
					console.log("Email validation failed");
					$("#errEmailValidation").css('display', 'block');
				},
				501: function(){

				}
			}
			
		})
		.done(function(response){
			if(response.err){
				alert(`Error: ${response.err}`);
			} else {
				$("#import-modal").modal('hide');
				alert("Request Sent");
			}
		})
	})

</script>

<%- include('partials/footer') %> 